In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df1 = df.drop(columns=[ 'date' , 'lights' ])

In [5]:
df1.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()

In [8]:
normalised_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)

In [9]:
normalised_df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [10]:
features_df = normalised_df.drop(columns=['Appliances'])

In [11]:
features_df

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,0.339590,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,0.338487,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,0.337585,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,0.336583,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,0.336583,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [12]:
target_df = normalised_df['Appliances']

In [13]:
target_df

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df,test_size= 0.3 , random_state= 42 )

In [16]:
from sklearn import linear_model

In [17]:
linear_model = linear_model.LinearRegression()

In [18]:
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
predicted_values = linear_model.predict(x_test)

In [20]:
from sklearn.metrics import r2_score

In [21]:
r2_score = r2_score(y_test, predicted_values)

In [22]:
round(r2_score, 2)

0.15

In [23]:
from sklearn.metrics import mean_absolute_error

In [24]:
mae = mean_absolute_error(y_test, predicted_values)

In [25]:
round(mae, 3)

0.05

In [26]:
import numpy as np

In [27]:
rss = np.sum(np.square(y_test - predicted_values))

In [28]:
round(rss, 2)

45.35

In [29]:
from sklearn.metrics import  mean_squared_error

In [30]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))

In [31]:
round(rmse, 3)

0.088

In [32]:
def weightsfunc(model, feature, column_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feature.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', column_name]
  weights_df[column_name].round(3)
  return weights_df

In [33]:
linear_model_weights = weightsfunc(linear_model, x_train, 'Linear_Model_Weight')

In [34]:
linear_model_weights

       Features  Linear_Model_Weight
0           rv2        -6.347156e+10
1          RH_2        -4.566222e-01
2         T_out        -3.218423e-01
3            T2        -2.361131e-01
4            T9        -1.899177e-01
5          RH_8        -1.575747e-01
6        RH_out        -7.767868e-02
7          RH_7        -4.462568e-02
8          RH_9        -3.980029e-02
9            T5        -1.566246e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.826116e-03
12           T7         1.032279e-02
13   Visibility         1.230638e-02
14         RH_5         1.599761e-02
15         RH_4         2.638746e-02
16           T4         2.897013e-02
17    Windspeed         2.916591e-02
18         RH_6         3.803986e-02
19         RH_3         9.604517e-02
20           T8         1.019718e-01
21    Tdewpoint         1.177300e-01
22           T6         2.363984e-01
23           T3         2.905893e-01
24         RH_1         5.535222e-01
25          rv1         6.347156e+10

In [35]:
linear_model_weights.min()

Features               Press_mm_hg
Linear_Model_Weight   -6.34716e+10
dtype: object

In [36]:
linear_model_weights.max()

Features                       rv2
Linear_Model_Weight    6.34716e+10
dtype: object

In [37]:
from sklearn.linear_model import Ridge

In [38]:
ridge_reg = Ridge(alpha=0.4)

In [39]:
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [40]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))

In [41]:
round(rmse, 3)

0.088

In [42]:
#No change on (RMSE) when evaluated on the test set

In [43]:
from sklearn.linear_model import Lasso

In [44]:
lasso_reg = Lasso(alpha=0.001)

In [45]:
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [46]:
lasso_weights = weightsfunc(lasso_reg, x_train, 'Lasso_reg_Weight')

In [47]:
lasso_weights

       Features  Lasso_reg_Weight
0        RH_out         -0.049557
1          RH_8         -0.000110
2            T1          0.000000
3     Tdewpoint          0.000000
4    Visibility          0.000000
5   Press_mm_hg         -0.000000
6         T_out          0.000000
7          RH_9         -0.000000
8            T9         -0.000000
9            T8          0.000000
10         RH_7         -0.000000
11          rv1         -0.000000
12           T7         -0.000000
13           T6          0.000000
14         RH_5          0.000000
15           T5         -0.000000
16         RH_4          0.000000
17           T4         -0.000000
18         RH_3          0.000000
19           T3          0.000000
20         RH_2         -0.000000
21           T2          0.000000
22         RH_6         -0.000000
23          rv2         -0.000000
24    Windspeed          0.002912
25         RH_1          0.017880

In [48]:
np.count_nonzero(lasso_weights.Lasso_reg_Weight)

4

In [49]:
from sklearn.metrics import  mean_squared_error

In [50]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))

In [51]:
round(rmse, 3)

0.088

In [52]:
# Coefficient of Determination (in two decimal places): same as R^2
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15